:root {
  --body-bg: #3a506b;
  /* --body-bg: #333f4f; */
  --header-bg: #022b3a;
  --header-text: #a7cdfb;
  --body-text: #d2e7fe;
  --body-header: #ffffff;
}

.App {
  text-align: center;
  background-color: var(--body-bg);
  color: var(--body-header);
  min-height: 100vh;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 100%;
  background-color: #a7cdfb;
  color: #022b3a;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.textblock {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
p {
  text-align: left;
  color: var(--body-text);
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.App-header {
  background-color: var(--header-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr 2fr;
  color: var(--header-text);
  border-bottom: 1px solid var(--body-header);
}
