:root {
  --body-bg: #3a506b;
  --header-bg: #022b3a;
  --header-text: #bfdbf7;
  --body-text: #a3bac3;
  --body-header: #ffffff;
}

.App {
  text-align: center;
  background-color: var(--body-bg);
  color: var(--body-header);
  min-height: 100vh;
}

p {
  color: var(--body-text);
}

.App-header {
  background-color: var(--header-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--header-text);
  border-bottom: 1px solid var(--body-header);
}
